<script setup lang="ts">
import { ref } from "vue";
const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="
          theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'
        "
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>

    <v-navigation-drawer
      expand-on-hover
      rail
      image="https://scontent.fbkk23-1.fna.fbcdn.net/v/t1.15752-9/319551746_3132599293698267_3352599472286377506_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGImQ6kGSMrDZl7QVh73roZrtBEiRDc_Zmu0ESJENz9mbuj4jv7uS009oucLxWdF9S77SntFrqH-HDYxStgwLdU&_nc_ohc=HcjRPp-LKtMAX9JARii&tn=DovNDdvyqOTqTxxC&_nc_ht=scontent.fbkk23-1.fna&oh=03_AdSBKOu9Ap-ZxS2NqpgKUJyAH1Pqt-Bur-aGkMS-nlyQNA&oe=63C5653F"
      permanent
    >
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk30-1.fna.fbcdn.net/v/t1.15752-9/320487948_1207541203452674_4562812913618971099_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeENCeuJMEHbQV856UZ4XuL98iNTXM4PX-PyI1Nczg9f4y_2b-Nhduyey-YuOIdaIu8yeZw9VhVjXKbvKiAwxo4h&_nc_ohc=2G2x5ZyEi0QAX9ukpNx&_nc_ht=scontent.fbkk30-1.fna&oh=03_AdTUgWvbZVh0cbUbIITW-K11Yz4kCMZ0rIdkV4m9NiMyDA&oe=63C56892"
          title="Panisa Srithongyou"
          subtitle="64160259"
        ></v-list-item>
      </v-list>
      <v-divider></v-divider>
    </v-navigation-drawer>

    <v-main>
      <v-container style="text-align: center; font-size: large"
        >Port Folio</v-container
      >
      <br />
      <v-row justify="space-around">
        <v-avatar color="info">
          <v-img
            src="https://i.pinimg.com/474x/00/54/72/0054722b7d5a096223ebaf2620ee2440.jpg"
          ></v-img>
        </v-avatar>

        <v-avatar color="white">
          <v-img
            src="https://cdn4.iconfinder.com/data/icons/study-education-6/512/Study-512.png"
          ></v-img>
        </v-avatar>

        <v-avatar color="info">
          <v-img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThIuYcy7b33IRY-PIn_ynWRgUvXAK0JpEAzA&usqp=CAU"
          ></v-img>
        </v-avatar>
      </v-row>

      <v-row no-gutters>
        <v-col order="6">
          <v-sheet class="pa-2 ma-2" style="text-align: center">
            Education
          </v-sheet>
          <v-sheet class="pa-2 ma-2">
            Kindergarten : SuwanPrasit School <br /><br />
            Elementary School : SuwanPrasit School <br /><br />
            Junior High School : NakhonNayokWittayakom School <br /><br />
            Senior High School : NakhonNayokWittayakom School <br /><br />
            University : Burapha University <br /><br />
            <v-divider></v-divider>
          </v-sheet>
        </v-col>
        <v-col order="12">
          <v-sheet class="pa-2 ma-2" style="text-align: center">
            Interested
          </v-sheet>
          <v-sheet class="pa-2 ma-2">
            Hobbies : write a novel, sing karaoke <br /><br />
            Favorite type of Book : Fiction <br /><br />
            Favorite type of Song : Old time music <br /><br />
            New Things Learned : Photo and video editing <br /><br />
            Interested Occupation : Hope to work on art that I am good at.
            <br /><br />
            <v-divider></v-divider>
          </v-sheet>
        </v-col>
        <v-col order="1">
          <v-sheet class="pa-2 ma-2" style="text-align: center">
            Profile
          </v-sheet>
          <v-sheet class="pa-2 ma-2">
            Name : Panisa Srithongyou <br /><br />
            Date of Birth : 11th December 2002 <br /><br />
            Age : 20 years old. <br /><br />
            Nationality : Thai <br /><br />
            Email : 64160259@go.buu.ac.th <br /><br />
            <v-divider></v-divider>
          </v-sheet>
        </v-col>
      </v-row>

      <v-bottom-navigation> </v-bottom-navigation>
    </v-main>
  </v-app>
</template>
